
  body {
    background-color: rgb(255, 212, 196);
  }
  @media screen and (min-width: 420px) {

    body {
    
    background: rgb(119, 0, 255); 
    margin: auto;
    
    }
    
    }


 @media screen and (min-width: 794px) {

      body {
      
      background: rgb(164, 108, 255); 
      margin: auto;
      
      }
      
}
 @media screen and (min-width: 1020px) {

        body {
        
        background: rgb(240, 220, 255); 
        margin: auto;
        max-width: 800px;
        }
        
        }