
  body {
    background-color: rgb(255, 212, 196);
  }
  @media screen and (min-width: 420px) {

    body {
    
    background: rgb(143, 56, 243); 
    margin: auto;
    
    }
    
    }


 @media screen and (min-width: 794px) {

      body {
      
      background: rgb(58, 18, 122); 
      margin: auto;
      
      }
      
}
 @media screen and (min-width: 1020px) {

        body {
        
        background: rgb(15, 6, 22); 
        margin: auto;
        max-width: 800px;
        }
        
        }